/* h1 {
    text-align: center;
}
/* .back{
    vertical-align: middle;
    top: 35%;
}

.back img{
    width: 100vw; 
    position:absolute;
} */

@font-face {
    font-family: 'Chunk';
    font-style: normal;
    font-weight: normal;
    src: url("Chunk.otf");
  }
  #brand {
      font-family: 'Chunk';
  }

#main_content{
    text-align: center;
    background: #343A40;
    /* color:red; */
} 
