body{
    background-image:url('../images/reduce.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color:white;
}

.tint{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(62, 82, 5, 0.562);
    z-index:-5;
}

form{
    width:80vw;
}

main{
    text-align: center;
}

img{
    width:80vw;
}